# These tasks are meant to find a sync file
# on all the SFTP servers.

---
- hosts: '{{ target_host }}'
  become_method: runas
  become: yes

  tasks:
  - name: Find sync file
    async: 5000
    poll: 1
    win_find:
      paths: '\\{{ item }}\{{ path }}'
      hidden: yes
      patterns: [ file_name ]
      recurse: yes
    with_items: '{{ sftp_locations }}'