# These tasks are meant to find a sync file
# on all the SFTP servers.

---
- hosts: '{{ target_host }}'
  strategy: free
  serial: 10
  become_method: runas
  become: yes

  tasks:
  - name: Find sync file
    async: 5000
    poll: 1
    win_find:
      paths: \\{{ item }}\fix\_bio\receivedfiles\{{ file_name }}
      hidden: yes
    with_items: '{{ sftp_locations }}'